<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rahullohra.fakeresponse">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="com.rahullohra.fakeresponse.App"
        android:usesCleartextTraffic="false">
        <activity android:name="com.rahullohra.fakeresponse.presentaiton.activities.AddGqlActivity"/>
        <activity android:name="com.rahullohra.fakeresponse.presentaiton.activities.FakeResponseActivity" />
    </application>

</manifest>